<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Hello</string>
		<key>content</key>
		<string>Thank you for trying out this app, enjoy!</string>
		<key>sfSymbol</key>
		<string>hand.wave</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Customize</string>
		<key>content</key>
		<string>Configure and change the view to your liking</string>
		<key>sfSymbol</key>
		<string>gearshape</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Feedback</string>
		<key>content</key>
		<string>Always welcome to send me feedback of the app!</string>
		<key>sfSymbol</key>
		<string>exclamationmark.bubble</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Support</string>
		<key>content</key>
		<string>Support me by follow me on Twitter @Argonyoyo 💞</string>
		<key>sfSymbol</key>
		<string>heart</string>
	</dict>
</array>
</plist>
